Django==1.6.1
dj-static==0.0.5
django-cors-headers==0.12
django-extensions==1.2.5
longerusername==0.4
psycopg2==2.5.1
South==0.8.4
-e git://git.neuf.no/pydusken.git#egg=pydusken
# for local dev
#-e ../pydusken

