.title-header {
    margin-bottom: 2em;
}
.social-login {
    text-align: center;

    .btn-facebook-login {
        width: 250px;
        height: 40px;
        background-color: #3b5998;
        color: white;
        font-weight: bold;
        text-shadow: 0 -1px black;
        font-size: 24px;
        padding: 0;

        span {
            font-size: 16px;
            position: relative;
            top: -1px;
        }

        i {
            position: relative;
            top: 2px;
            padding-right: 6px;
        }

        &:hover,
        &:focus {
            background-color: #2f477a;
            color: white;
            outline: 0;
        }

    }
}
.subtitle{
    color: #555;
}
.seperator {
    margin: 1em 1em;
    text-align: center;

    .text {
        padding-left: 4px;
        padding-right: 4px;
        font-style: italic;
    }

    &:before {
        display: inline-block;
        content: '';
        width: 30%;
        height: 1px;
        background-color: #ccc;
        margin-bottom: .25em;
    }
    &:after {
        display: inline-block;
        content: '';
        width: 30%;
        height: 1px;
        background-color: #ccc;
        margin-bottom: .25em;
    }
}
.img-profile {
    width: 50px;
}
.img-profile-nav {
    width: 18px;
    position: relative;
    top: -1px;
}
