{% extends "base.html" %}
{% block title %}Dusken - My profile{% endblock %}
{% block content %}
{% load myfilters %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4><img src="http://www.gravatar.com/avatar/{{user.email|lower|md5}}" class="img-circle img-profile"/> {{user.first_name}} {{user.last_name }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Profile</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Username: {{me.username}}</li>
                            <li class="list-group-item">Email: {{me.email}}</li>
                            <li class="list-group-item">Phone number: {{me.phone_number}}</li>
                            <!-- TODO: Connected accounts -->
                            <!--<li class="list-group-item">Facebook <i class="glyphicon glyphicon-ok"></i> Google+ <i class="glyphicon glyphicon-ok"></i> </li>-->
                        </ul>
                    </div>
                    <div class="panel {% if me.has_valid_membership %}panel-success{%else%}panel-warning{%endif%}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Membership</h3>
                        </div>
                        <div class="list-group">
                            {% if me.has_valid_membership %}
                                {% for membership in me.memberships %}
                                <a href="/membership/{{membership.id}}/" class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Valid until {{ membership.expires }}</a>
                                {% endfor %}
                            {% else %}
                                <p>Not valid (REASON - expired DATE - needs payment)</p>
                                <a href="{% url 'membership-purchase' %}" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus"></i> Purchase membership</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_staff %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Admin tasks</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="{% url 'members-list' %}">List members</a></li>
                                <li><a href="/admin/">Django admin</a></li>
                            </ul>
                            <div class="">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Groups <span class="badge">{{ me.groups|length}}</span></h3>
                        </div>
                        {% if not me.groups %}
                            <div class="panel-body">No groups</div>
                        {% endif %}
                        <div class="list-group">
                            {% for group in me.groups %}
                            <a href="/group/{{ group.id }}/" class="list-group-item">{{ group.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Divisions{% if me.divisions %} <span class="badge">{{ me.divisions|length}}</span>{% endif %}</h3>
                        </div>
                        {% if not me.divisions %}
                            <div class="panel-body">
                            <p>
                                Not part of any divisions. <a href="https://studentersamfundet.no/bli-aktiv/" class="btn btn-default">How do I get involved?</a>
                            </p>
                            </div>
                        {% endif %}
                        <div class="list-group">
                            {% for division in me.divisions %}
                            {% if division.is_active %}
                            <a href="/division/{{ division.id}}/" class="list-group-item">{{ division.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Mailinglists{% if mailinglists_list %} <span class="badge">{{ mailinglist_lists|length}}</span>{% endif %}</h3>
                        </div>
                        {% if not mailinglists_list %}
                            <div class="panel-body">
                            <p>
                                Not on any mailinglists. <a href="#" class="btn btn-default">Subscribe</a>
                            </p>
                            </div>
                        {% endif %}
                        <ul class="list-group">
                            {% for mailinglist in mailinglists_list %}
                            <li class="list-group-item">{{ mailinglist }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
