<form method="post" action="{% url "django.contrib.auth.views.login" %}">
    {% csrf_token %}
    {% if form.errors %}
       <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <!--<div class="row social-login">
        <div class="col-md-5">
            <button class="btn btn-facebook-login"><i class="fa fa-facebook"></i> <span>Logg inn med Facebook</span></button>
            <div class="subtitle"><small>Det går raskest</small></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="seperator"><span class="text">Eller</span></div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-5">
            <h4>Logg inn med epost og passord</h4>
            <input id="username" name="username" type="text" placeholder="E-post (eller brukernavn)" class="form-control" />
            <br/>
            <input id="password" name="password" type="password" placeholder="Passord"  class="form-control" />
            <br />
            <button class="btn btn-primary btn-lg btn-block btn-login">Logg inn</button>
        </div>
    </div>
</form>
